# Eclipse stuff
.classpath/
.project/
.settings/

# Netbeans
nbproject/

# Maven
build.xml
target/
dependency-reduced-pom.xml

# Gradle
.gradle

# Vim
.*.sw[a-p]

# Various other potential build files
target
build
bin
dist
manifest.mf
package

# Mac filesystem dust
.DS_Store

# Intellij
*.iml
*.ipr
*.iws
.idea/
